body {
  padding: 14px;
}

.ui.log.segment {
  margin-bottom: 0 !important;
}

.ui.tab.segment {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

pre {
  margin: 0;
  max-height: calc(100vh - 42px - 14px * 4 - 2px);
}

#viewer {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: none;
}

#viewer::before {
  content: "";
  display: block;
  padding-top: 58.8%;
}

#viewer iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#viewer iframe.hidden {
  opacity: 0;
}
